.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .listItems {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;

    .link {
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .navItem {
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      transition: all 0.3s ease;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
