@import "@/styles/_variables.scss", "@/styles/_mixins.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .contact {
    border: 1px solid $primary;
    padding: toRem(10) toRem(10);
    background-color: $primary;

    &:hover {
      cursor: pointer;
    }

    li {
      span {
        color: $secondary;
      }
    }
  }

  .listItems {
    display: flex;
    gap: 1rem;
    align-items: center;
    list-style: none;

    .link {
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .navItem {
      color: $primary;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      transition: all 0.3s ease;
      font-size: 13px;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $primary;
        transition: all 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
