@import "@/styles/_variables.scss";

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100px;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
}
